@import "src/components/variables.scss";

.divider-side {
  position: fixed;
  top: 0;
  height: 100vh;
  left: $sidebar-width;
}

.sidenav {
  background: #0e161b;
  color: #fff;
  position: fixed;
  height: calc(100vh - #{$header-height});
  top: $header-height;
  width: $sidebar-width;
  z-index: 99;
}

.prousername {
  font-size: 1rem;
}

.leaderrow{
  padding-top: 1rem;
  margin-bottom: 10px;
}