@import "src/components/variables.scss";


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.just-sb {
  justify-content: space-between;
}

.just-sa {
  justify-content: space-around;
}

.align-fs {
  align-items: flex-start;
}

.full-width {
  width: 100%;
}

.full-height {
  height: calc(100vh - #{$header-height});
}

.width-60 {
  width: 60%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.danger {
  color: #e74c3c;
}

